<?xml version="1.0"?>
<!--
/**
 * A small module to filter territories from region dropdowns.
 *
 * @author    Peter McWilliams <pmcwilliams@augustash.com>
 * @copyright 2020 August Ash, Inc. (https://www.augustash.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Augustash_RegionFilter">
        <sequence>
            <module name="Magento_Directory"/>
        </sequence>
    </module>
</config>
